{% if page.image.feature %}
  <div class="image-wrap" {% if page.image.featureid %} id="{{ page.image.featureid }}" {% endif %}>
     {% if page.image.featurelink %}<a href="{{ site.url }}/{{ page.image.feature }}">  {% endif %}
     <img src=
     {% if page.image.feature contains 'http' %}
        "{{ page.image.feature }}"
     {% else %}
        "{{ site.url }}/{{ page.image.feature }}"
     {% endif %}
        alt="{{ page.title }} feature image">
     {% if page.image.featurelink %}</a>  {% endif %}
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
