{% if page.feature %}
  <div class="image-wrap" {% if page.image.featureid %} id="{{ page.image.featureid }}" {% endif %}>
     {% if page.featurelink %}<a href="{{ site.url }}/{{ page.image.feature }}" target="_blank">  {% endif %}
     <img src="{{ page.feature }}" alt="{{ page.title }} feature image">
     {% if page.featurelink %}</a>  {% endif %}
  {% if page.feature_credit %}
    <span class="image-credit">Credit: <a href="{{ page.image.creditlink }}">{{ page.feature_credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
