#article-author-side-projects {
	@media #{$x-large} {
		@include grid(12,1.25);
		@include prefix(12,1.25);
	}
}

#project-image {
  img {
		  width: 100%;
      margin-top: 32px;
	    @media #{$x-large} {
		    @include grid(12,6);
		    @include prefix(12,3);
	    }
	  }
}

#main {
  .project-post {
		@include container;
		@include grid(12,10);
		@include prefix(12,1);
		@include suffix(12,1);
		margin-bottom: 2em;
		@media #{$small} {
			@include grid(12,6);
			@include prefix(12,0);
			@include suffix(12,0);
		}
		@media #{$x-large} {
			@include grid(12,6);
		}
	}
	#project-title {
    text-align: center;
	}
}

.classytable {
  width:100% !important;
  table-layout:fixed;
}

.classytable col{
	width:10%;
	@media #{$mobile-side} {
	    width:15%;
	}
}

.classytable h3{
	font-weight: bold;
    vertical-align: top;
	@media #{$mobile-side} {
		font-size: 0.9em;
        margin-right: 10px;
	}
}

.classytable h4{
	text-align:left;
	border-left: 2px solid #000;
	padding: 0 0 0 .5em;
	margin: 0 0 0 0;
	@media #{$mobile-side} {
		font-size: 0.9em;
	}
}

.linkslist{
  padding-left: 0px;
}

#projectimages{
  @media #{$mobile-side} {
	 max-height:300px;
  }
  @media #{$x-large} {
     max-height:900px;
  }
  list-style-type: none; /* Needed to eliminate list item marker */ 
}

.videolist{
  border-left: 2px solid #000;
  list-style-type: none; /* Needed to eliminate list item marker */ 
}

.imageslist{
  border-left: 2px solid #000;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  list-style-type: none; /* Needed to eliminate list item marker */ 
}

.imageslist li{
  display:inline-block;
  vertical-align: middle;
}

.imageslist img{
  @media #{$mobile} {
	 max-height:275px;
  }
  max-height:800px;
  vertical-align: middle;
}

.imageslist figcaption{
	text-align:center;
}

.videolist{
  align:middle;
	text-align:center;
}

::-webkit-scrollbar{
    width: 10px;
    padding-top: 40px;
}

::-webkit-scrollbar-track{
    border: 1px solid black;
    background: rgb(41,41,41);

}
::-webkit-scrollbar-thumb{
    height: 20px;
    width: 8px;
    border: 1px solid black;
    background: rgb(111,111,111);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

::-webkit-scrollbar-track-piece {
    height: 20px;
}

