<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
{% for extraCSS in page.extracss %}    
    <link rel="stylesheet" href="/assets/css/{{extraCSS}}">
{% endfor %}
</head>

<body class="home">
  <div id="wrap">
    {% include _browser-upgrade.html %}

    {% include _navigation.html %}

    {% if page.image.feature %}
      <div class="image-wrap" {% if page.image.id %} id="{{ page.image.id }}" {% endif %}>
      <img src=
        {% if page.image.feature contains 'http' %}
          "{{ page.image.feature }}"
        {% else %}
          "{{ site.url }}/images/{{ page.image.feature }}"
        {% endif %}
      alt="{{ page.title }} feature image">
      {% if page.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
      {% endif %}
      </div><!-- /.image-wrap -->
    {% endif %}
     
    {{ content }}
    
    </div><!-- /#main -->
  </div>

<footer>
  {% include _footer.html %}
</footer>
{% include _scripts.html %}
  
</body>
</html>
