<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>You Have Entered the Website of Andrey Kurenkov by andreykurenkov</title>

    <link rel="stylesheet" href="{{ site.url }}/assets/css/mestyles.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/mepygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>You Have Entered the Website of Andrey Kurenkov</h1>
        <p>Just a quick one, for fun </p>

        <p class="view"><a href="https://github.com/andreykurenkov/PersonalWebsite">View the Project on GitHub <small>andreykurenkov/PersonalWebsite</small></a></p>


        <ul>
          <li><a href="https://github.com/andreykurenkov/PersonalWebsite/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/andreykurenkov/PersonalWebsite/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/andreykurenkov/PersonalWebsite">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <p><img src="https://googledrive.com/host/0B6Vx0T-KbUreMjZVVUFLZ0p2ZWM/Name.png" alt="Me"></p>

<p><img src="https://googledrive.com/host/0B6Vx0T-KbUreMjZVVUFLZ0p2ZWM/face.jpg" alt="My Face"></p>

<h2>
<a name="i-would-like-you-to-know-i-am-a-cool-person" class="anchor" href="#i-would-like-you-to-know-i-am-a-cool-person"><span class="octicon octicon-link"></span></a>I Would Like You To Know I Am A Cool Person</h2>

<p>Hello web traveler. Yesterday, I came across a promotion by Namecheap for free .me domain hosting for a year. Naturally, like any college student my first instinct was to accept free stuff. Now, 24 hour later, this is finished - a basic resume/portfolio page with some snarky writing. A bunch of fun details are presented below, but for the impatient you can go ahead and get my <a href="https://drive.google.com/file/d/0B6Vx0T-KbUreQkR0X1JhVENTOEU/edit?usp=sharing">resume</a>, go to my <a href="www.linkedin.com/pub/andrey-kurenkov/">linkedin page</a> for all the serious self-promotion, or have a look at this <a href="http://about.me/andreykurenkov">about.me page</a> I created at some point to show off my less academic and professional aspects. </p>

<h2>
<a name="what-i-do" class="anchor" href="#what-i-do"><span class="octicon octicon-link"></span></a>What I Do</h2>

<p>Or, a more layed-back summary of my life than presented via links above. I am now an undergraduate student at Georgia Tech majoring in Electrical Engineering and Computer Science. I am working away on those two majors, TA, do undergrad research with robotics at the <a href="http://www.cc.gatech.edu/social-machines/">SIM lab</a>, work on a solar racing with a bunch of other students, and sometimes find the time to do things with other people that does not involve work. I also like to <a href="http://500px.com/andreykname">photograph things</a> and <a href="http://lifeofandrey.wordpress.com/">write about things</a>, and generally appreciating art of all sorts, though I do not get around to doing that as often as I'd like. I expect to graduate in May 2015, and go off work in some exciting company thereafter with a potential for starting a PhD a few years after that.</p>

<h2>
<a name="what-i-care-about" class="anchor" href="#what-i-care-about"><span class="octicon octicon-link"></span></a>What I Care About</h2>

<p>In general, appreciating art and solving meaningful engineering problems that help humanity progress. Specifically: 
machine learning (increasingly, the fast improving unsupervised kind), 
cinema (Tarkovsky, Aronofsky, Kaufman, Kurosawa, Bergman, Carruth, Kon, Miyazaki, Zvyagintsev, etc.), 
robotics (particularly, intelligent and responsive robotics that can interact with humans), 
robots outside the lab and in society (particularly, low cost specialized robots that can realistically be produced and be useful today), 
narrative-driven video games (all the indie stuff, and the Mass Effect-type stuff, and so on), 
energy efficiency and management (this is what led me to my EE degree, and though I dislike power engineering I care about systems that use a lot of energy), 
books (hard science fiction, modernist, some post-modernist, some pre-modernist), 
programming (especially embedded programming, but also scripting and hackathon types things as well),
and so on with ever more specific ones.</p>

<h2>
<a name="more-links-for-repositories" class="anchor" href="#more-links-for-repositories"><span class="octicon octicon-link"></span></a>More Links! (for repositories)</h2>

<p>Presently, my personal projects are backed up with the well named <a href="https://code.google.com/p/things-with-worth/">Things With Worth</a> Google Code repo. Yes, I know, Github is all the rage these days - I have not switched over yet, but may eventually.</p>

<p>As stated there: "various smaller projects are hosted here, including an ambitious GUI TA-grading helper application, sleep schedule graphing program, a music metadata correction program (that queries wikipedia) and several other things."</p>

<p>Other repos my open work is hosted at: <a href="https://code.google.com/p/gtsolarjackets/">Code base for Solar Racing Car Team</a>.</p>

<p>Repo for development of music <a href="https://code.google.com/p/ateamappathon/">metadata visualization Android app</a>, which was released for on the marketplace before becoming outdated.</p>

<p>Repos for hackathon apps not finished afterwards (I plan to get back to some of these at some point, really): <a href="https://code.google.com/p/sketchit3d/">sketchit3D</a>, <a href="https://code.google.com/p/camera-touch-emulation/">Android camera hand tracking</a>, <a href="https://code.google.com/p/geo-chat-appathon/">geo-chat</a></p>

<p>Repo for ORS research code, which involved creating a fancy <a href="https://code.google.com/p/ors-mapreducesim/">MapReduce Simulator</a>. It was abandoned before completion, but a lot of work was done in the semester we spent coding it and it still has a lot of neat OOP and reflection tricks in there.</p>

<h3>
<a name="a-preview-of-andreykurenkovcom" class="anchor" href="#a-preview-of-andreykurenkovcom"><span class="octicon octicon-link"></span></a>A Preview of andreykurenkov.com</h3>

<p>So, this was fun to put together over an hour with Github's nifty tool. However, I hope to soon finish the website implementation that will be put on andreykurenkov.com:</p>

<p><img src="https://googledrive.com/host/0B6Vx0T-KbUreMjZVVUFLZ0p2ZWM/website.png" alt="My Future Website"></p>

<p>Until then, this is all.</p>

<h3>
<a name="contact" class="anchor" href="#contact"><span class="octicon octicon-link"></span></a>Contact</h3>

<p>Hey, feel free to email me at <a href="mailto:andreyvkurenkov@gmail.com">andreyvkurenkov@gmail.com</a>.</p>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/andreykurenkov">andreykurenkov</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-54402578-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
