---
layout: base
---
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <a href="https://www.instagram.com/regalalgorithm/?hl=en"><h2 style="text-align:center; margin-top:0;">instagram</h2></a>
	<div class="popup-gallery">
		{% instagram accesstokenpath:/home/andreyk/Desktop/instatoken.txt %}
			<a href="{{ item.images.standard_resolution.url }}" title="{{ item.caption.text }}"><img src="{{ item.images.thumbnail.url }}" width="24.9%"></a>
		{% endinstagram %}
	</div>
    <a href="https://500px.com/andreykname"><h2 style="text-align:center">500px</h2></a>
	<div class="popup-gallery">
		{% 500px authpath:/home/andreyk/Desktop/pxtoken.txt %}
			<a href="{{ item.images.large.url }}" title="{{ item.name }}"><img src="{{ item.images.thumbnail.url }}" width="24.9%"></a>
		{% end500px %}
	</div>
  </div><!-- /#index -->
</div><!-- /#main -->
