---
layout: base
---
{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% assign tag = site.data.tags[post_tag] %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.url }}/writing/tag/{{ post_tag }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="post">
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1><h5><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %}, modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}</h5>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1><h5><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}</h5>
      {% endif %}
    </div><!--/ .headline-wrap -->
    </hr>
    <div class="article-wrap">

      {{ content }}

      <div class="contentinfo">           
        <h4 id="postnav">{% if post.previous %}<a href="{{ site.url }}{{ post.previous_in_category.url }}">Previous Post</a>{% endif %} 
                       {% if post.next %} | <a href="{{ site.url }}{{ post.next_in_category.url }}">Next Post</a>{% endif %}</h4>

        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        {% include _mailchimp-sign-up.html %}
        <p id="post-meta">{{ tags_content }}</p>
        {% if site.owner.disqus-shortname and page.comments == true %}
          <section id="disqus_thread"></section><!-- /#disqus_thread -->
        {% endif %}
      </div>
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#main -->
</br>
