---
layout: base
---

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h1 style="display: block;">Research</h1>

    <div class="tiles">
      {% for post in site.categories.research %}
        {% include _project-grid.html %}
      {% endfor %}
    </div><!-- /.tiles -->

    <h1 style="display: block;">Big Team Projects</h1>

    <div class="tiles">
      {% for post in site.categories.team_projects %}
        {% include _project-grid.html %}
      {% endfor %}
    </div><!-- /.tiles -->

    <h1 style="display: block;">Major Projects</h1>

    <div class="tiles">
      {% for post in site.categories.major_projects %}
        {% include _project-grid.html %}
      {% endfor %}
    </div><!-- /.tiles -->


    <h1 style="display: block;">Hacks and small projects</h1>

    <div class="tiles">
      {% for post in site.categories.hacks %}
        {% include _project-grid.html %}
      {% endfor %}
    </div><!-- /.tiles -->
  </div><!-- /#index -->
</div><!-- /#main -->

